* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Calibri;
  font-weight: bold;
}

@media (min-width: 1200px) {
  .container {
    width: 0;
  }
}

@media (min-width: 992px) {
  .container {
    width: 930px;
  }
}

@media (max-width: 768px;
) {
  .container {
    width: 600px;
  }
}

img {
  max-width: 100%;
}

.experience {
  text-align: center;
  text-decoration: underline;
}

.menu-container {
  color: #fff;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  background-color: black;
}

.menu {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: black;
}

a {
  text-decoration: none;
  background-color: black;
  transition: all 0.3s linear 0s;
  font-size: larger;
  font-family: sans-serif;
  text-transform: uppercase;
  color: white;
}

a:hover {
  text-decoration: underline;
}

.header-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.header {
  width: 100%;
  height: 130px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 3px solid black;
}

.contact {
  font-size: 110%;
  font-weight: bold;
}

.logo {
  max-width: 100%;
}

.logo, .bobpic, .contact {
  text-align: center;
}

.main-container {
  display: flex;
  justify-content: center;
}

.grid {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

iframe {
  padding-top: 20px;
}

.caption {
  text-align: center;
}

.order {
  order: 1;
}

.bio-aboutus{
  padding-top: 20px;
  align-content: space-between;
  flex-direction: row;
  justify-content: center;
  padding-top: -10px;
}

.bio {
  display: flex;
  padding-top: 20px;
  align-content: space-between;
  flex-direction: row;
  justify-content: center;
  padding-top: -10px;
}

.bio div {
  /*border: 1px #ccc solid;*/
  padding: 10px;
  font-size: large;
}

.bob-text {
  font-size: larger;
  margin-left: 2.5%;
  margin-bottom: 2%;
}

h3.bob-text {
  text-align: center;
}

/*.two {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
}*/

.three {
  flex: 1;
}

/*.bobwalkingphoto {
  display: flex;
  width: 50%;
  max-width: 100%;
}*/

.spanish {
  text-align: center;
}

.threeimg {
  border: 2px solid black;
  width: 30%;
  max-width: 100%
}

img.threeimg {
  float: right;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: -2%;
}

/*.three img {
  border: 2px solid black;
  width: 40%;
  max-width: 100%
  float: right;
}*/

img.award {
  border: 2px solid black;
  margin-top: 2%;
  width: 90%;
}

.auxpic {
  text-align: center;
}

.contacthim {
  text-align: center;
}

img.aux {
  border: 2px solid black;
}

.text-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  padding: 20px 20px;
  flex-wrap: wrap;
  flex-flow: column wrap;
}

.text-grid {
  display: flex;
  justify-content: center;
}

.aboutus-first {
  font-size: larger;
}

.aboutus-second {
  font-size: larger;
  padding-top: 20px;
}
