@include media-breakpoint-up(sm) {
  html {
    font-size: 16px;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 20px;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 28px;
  }
}

body {
  margin: 0;
  padding: 0;
  background-color:#fafafa !important;
}

html {
  margin: 0;
  padding: 0;
}

.container {
  display: inline-flex;
}

.link-1 {
  transition: 0.3s ease;
  background: #3fa46a;
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  border-top: 4px solid #3fa46a;
  border-bottom: 4px solid #3fa46a;
  padding: 20px 0;
  margin: 0 20px;
}

.link-1:hover {
  border-top: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
  padding: 6px 0;
}

nav {
  margin-top: 0px;
  padding: 24px 0;
  text-align: center;
  font-family: Raleway;
  /*box-shadow: 2px 0px 8px rgba(0, 0, 0, 0.5);*/
}

#nav-1 {
  background: #3fa46a;
}

#nav-1 a {
  text-decoration: none;
}
